/* Style pour la page d'accueil */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    background-color: #34a26d;
    color: white;
    padding: 120px 10%;
    border-radius: 20px;
    margin: 50px auto;
    max-width: 90%;
    position: relative;
    overflow: hidden; 
}


.hero .gauche {
    max-width: 60%;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    line-height: 1.2;
}

span {
    color: #000;
    margin-right: 10px;
}


.search-container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 35vw;
}

.titre-restaurants {
    font-size: 2rem;
    padding-left: 2vw;
    color: #333;
}

.search-container .location {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 10rem;
    background-color: #f5f5f5;
    border-right: 1px solid #ccc;
}

.search-container input[type="text"] {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 14px;
    color: #666;
    flex: 1;
}

.search-container button {
    padding: 10px 20px;
    background-color: #006d5b;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 0.1rem;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.search-container button:hover {
    background-color: #005245;
}


.food-image {
    position: absolute;
    right: -100px;
    bottom: -75px;
    max-width: 50%;
    max-height: 100%;
    border-radius: 20px;
    object-fit: cover;
}


.restaurant-carousel {
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding: 20px 0;
}

.carousel-track-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-track {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
}

.restaurant-box {
    flex: 0 0 calc(25% - 20px); /* 4 éléments par ligne */
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    text-align: center;
    cursor: pointer;  /* Change le curseur en main pour signaler que c'est cliquable */
    position: relative;
}

.restaurant-box img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.restaurant-description {
    padding: 15px;
}

.restaurant-description h2 {
    font-size: 1.2rem;
    margin-bottom: 8px;
    color: #000;
}

.restaurant-description p {
    font-size: 0.9rem;
    color: #666;
}

.carousel-btn {
    position: absolute;
    background-color: #2a9d8f;
    color: white;
    border: none;
    font-size: 1.5rem;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}
.restaurant-box-link {
    flex: 0 0 calc(25% - 20px); /* 4 éléments par ligne */
    display: block;
    text-decoration: none;  /* Pour enlever le soulignement du lien */
}
/* Responsive Design */
@media (min-width: 768px) {
    .hero {
        flex-direction: row; /* Réalignement horizontal pour les écrans plus larges */
        padding: 250px 150px; /* Augmentation de la hauteur pour les grands écrans */
    }
}

@media (max-width: 767px) {
    .hero {
        padding: 150px 20px; /* Réduction pour les écrans plus petits */
    }
}